body{
    background-color: darkcyan;
}
h1{
    text-align: center;
}
form{
    background-color: darkorange;
    justify-content: center;
}
.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  @media (min-width: 570px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
.question{
   order: 1;
  width: 10em;
  text-align: right;
  padding-right: 0.5em;
  font-size: 25px;
}

.answer{
    order: 2;
    flex: none;
    width: auto;
    margin-left: 15em;
    padding:1em;
    font-size: 25px;
    text-align: start;
}
input[type="text"] {
    border: 2px solid black;
    border-radius: 5px;
    width: 15em;
    height: 2em;
}
input[type="number"]{
    border: 2px solid black;
    border-radius: 5px;
    width: 15em;
    height: 2em;
}
select{
    border: 2px solid black;
    border-radius: 5px;
    width: 15em;
    height: 2em;
}
input[type="radio"]{
    height:17px; width:17px;
    margin-right:10px ;
}

input[type="checkbox"]{
    width: 15px; 
    height: 15px; 
    margin-right: 5px;
  }
  
  textarea{
    width: 20em; 
    height: 10em;
    font-size: 15px;
  }

  input[type="submit"]
{
    color: black;
    widows: 10px;
    font-weight: 100px;
    font-size: xx-large;
    padding: 10px;
    justify-content: end;
    background-color: rgb(220, 230, 233);
    border: 1px solid ;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    opacity: 0.9;
    width: 20%;
    margin-left: 50%;
    
}
input[type="submit"]:hover, input[type="reset"]:hover{
    opacity:0.5;
  }
p{
    font-size: large;
}